USE [MARKEA] 
GO

/****** Objeto: StoredProcedure [dbo].[obtener_productos_por_categoria] Script Date: 24/6/2025 22:10:21 ******/

SET ANSI_NULLS ON  
GO  
-- Configura las comparaciones con NULL siguiendo el estándar ANSI (NULL = NULL será false)

SET QUOTED_IDENTIFIER ON  
GO  
-- Permite que los identificadores entre comillas dobles ("nombre") sean tratados como nombres de objetos, no como cadenas

-- Define o modifica el procedimiento almacenado 'obtener_productos_por_categoria'
ALTER PROCEDURE [dbo].[obtener_productos_por_categoria]
    @id_categoria INT  -- Parámetro de entrada: ID de la categoría por la que se desea filtrar
AS
BEGIN
    -- Consulta que obtiene productos activos de una categoría específica
    SELECT 
        p.nombre AS producto,      -- Muestra el nombre del producto y lo renombra como 'producto'
        p.precio,                  -- Precio actual del producto
        p.stock,                   -- Cantidad disponible en inventario
        c.nombre AS categoria      -- Muestra el nombre de la categoría (desde la tabla Categorias)
    FROM Productos p
    JOIN Categorias c ON p.id_categoria = c.id_categoria  -- Relaciona el producto con su categoría
    WHERE 
        p.stock > 0                     -- Solo incluye productos con stock disponible
        AND c.id_categoria = @id_categoria;  -- Filtra los productos que pertenecen a la categoría solicitada
END;