USE [MARKEA]  
GO

/****** Objeto: StoredProcedure [dbo].[sp_registrar_usuario] Script Date: 24/6/2025 22:43:19 ******/

SET ANSI_NULLS ON  
GO
-- Activa el comportamiento ANSI estándar para comparaciones con NULL (ej. NULL <> NULL devuelve false)

SET QUOTED_IDENTIFIER ON  
GO
-- Permite el uso de comillas dobles para nombres de columnas o tablas, evitando ambigüedades

-- Procedimiento almacenado para registrar un nuevo usuario en el sistema
ALTER PROCEDURE [dbo].[sp_registrar_usuario]
    @usuario VARCHAR(100),         -- Nombre del usuario a registrar
    @correo VARCHAR(100),          -- Correo electrónico, debe ser único
    @contrasena VARCHAR(255),      -- Contraseña (se recomienda cifrarla desde la aplicación)
    @es_vendedor BIT = 1           -- Indicador opcional: 1 si el usuario podrá vender productos, 0 si solo compra
AS
BEGIN
    -- Verifica si ya existe un usuario con el correo proporcionado
    IF EXISTS (
        SELECT 1 FROM Usuarios WHERE correo = @correo
    )
        RETURN;  -- Si el correo ya está registrado, termina el procedimiento sin insertar

    -- Si no hay conflicto de correo, se inserta el nuevo usuario
    INSERT INTO Usuarios(usuario, correo, contrasena, es_vendedor)
    VALUES (@usuario, @correo, @contrasena, @es_vendedor);
END;