USE [MARKEA]  
GO  
-- Se indica que se está trabajando dentro de la base de datos 'MARKEA'

SET ANSI_NULLS ON  
GO  
-- Habilita el comportamiento estándar ANSI para comparaciones con valores NULL

SET QUOTED_IDENTIFIER ON  
GO  
-- Permite usar comillas dobles para delimitar nombres de columnas o tablas

-- Procedimiento almacenado n.º 6: Recuperar historial de compras para un usuario determinado
ALTER PROCEDURE [dbo].[sp_recuperar_historial_compras]
    @id_usuario INT  -- Parámetro de entrada: ID del comprador del cual se quiere consultar el historial
AS
BEGIN
    -- Consulta las compras hechas por el usuario especificado
    SELECT 
        v.id_venta,                    -- ID de la venta
        v.fecha,                      -- Fecha en la que se realizó la compra
        v.estado,                     -- Estado actual de la venta (ej. 'pagado', 'pendiente')
        dv.id_producto,               -- ID del producto vendido
        p.nombre,                     -- Nombre del producto
        dv.cantidad,                  -- Número de unidades compradas de ese producto
        dv.precio_unitario            -- Precio por unidad al momento de la compra
    FROM Ventas v
    JOIN DetalleVenta dv ON v.id_venta = dv.id_venta     -- Relaciona cada venta con su detalle
    JOIN Productos p ON dv.id_producto = p.id_producto   -- Trae la información del producto
    WHERE v.id_comprador = @id_usuario                   -- Filtra solo las ventas del usuario solicitado
    ORDER BY v.fecha DESC;                               -- Ordena el resultado desde la más reciente a la más antigua
END;