USE [MARKEA]  
GO

/****** Objeto: StoredProcedure [dbo].[sp_publicar_producto] Script Date: 24/6/2025 22:34:54 ******/

SET ANSI_NULLS ON  
GO
-- Define que las comparaciones con NULL sigan el estándar ANSI (ej. NULL = NULL es false)

SET QUOTED_IDENTIFIER ON  
GO
-- Habilita el uso de comillas dobles para delimitar nombres de objetos (ej. "nombre_columna")

-- Crea o modifica un procedimiento para publicar un nuevo producto
ALTER PROCEDURE [dbo].[sp_publicar_producto]
    @id_vendedor INT,         -- ID del usuario que publica el producto
    @id_categoria INT,        -- ID de la categoría a la que pertenece el producto
    @nombre VARCHAR(100),     -- Nombre del producto a publicar
    @descripcion TEXT,        -- Descripción del producto
    @precio DECIMAL(10,2),    -- Precio del producto
    @stock INT                -- Cantidad inicial disponible del producto
AS
BEGIN
    -- 1. Validar que el usuario existe y tiene permisos para vender
    IF NOT EXISTS (
        SELECT 1 
        FROM Usuarios 
        WHERE id_usuario = @id_vendedor AND es_vendedor = 1
    )
    BEGIN
        -- Si no es un vendedor válido, lanza un error y detiene la operación
        RAISERROR ('El ID de vendedor no es válido o no tiene permisos para vender.', 16, 1);
        RETURN;
    END

    -- 2. Si la validación fue exitosa, insertar el nuevo producto en la tabla
    INSERT INTO Productos(id_vendedor, id_categoria, nombre, descripcion, precio, stock)
    VALUES (@id_vendedor, @id_categoria, @nombre, @descripcion, @precio, @stock);

    -- 3. Devolver el ID del nuevo producto insertado, útil para mostrar en la interfaz o relacionar con la imagen en MongoDB
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NuevoProductoID;
END;