USE [MARKEA]  
GO
/****** Objeto: StoredProcedure [dbo].[sp_obtener_productos_disponibles] Script Date: 24/6/2025 22:27:43 ******/

SET ANSI_NULLS ON  
GO
-- Activa el comportamiento ANSI en las comparaciones con NULL (ej. NULL <> NULL será false)

SET QUOTED_IDENTIFIER ON  
GO
-- Permite el uso de comillas dobles para delimitar identificadores como nombres de columnas o tablas

-- Procedimiento almacenado para listar productos disponibles con información adicional
ALTER PROCEDURE [dbo].[sp_obtener_productos_disponibles]
AS
BEGIN
    -- Consulta que devuelve información de productos con stock mayor a cero
    SELECT 
        p.id_producto AS Id,             -- ID único del producto
        p.nombre AS Name,                -- Nombre del producto
        p.precio AS Price,               -- Precio actual del producto
        p.descripcion AS Description,    -- Descripción del producto
        c.nombre AS Category,            -- Nombre de la categoría (puede ser NULL si no está asignada)
        p.id_categoria AS IdCategoria    -- ID de la categoría asignada al producto
    FROM 
        Productos p
    LEFT JOIN 
        Categorias c ON p.id_categoria = c.id_categoria  -- Unión opcional con Categorías para mostrar nombres
    WHERE 
        p.stock > 0;  -- Solo se incluyen productos con stock disponible
END