USE [MARKEA]  
GO

/****** Objeto: StoredProcedure [dbo].[sp_actualizar_producto_completo] Script Date: 24/6/2025 22:15:07 ******/

SET ANSI_NULLS ON  
GO
-- Habilita el comportamiento ANSI para comparaciones con NULL (por ejemplo, NULL <> NULL retorna FALSE)

SET QUOTED_IDENTIFIER ON  
GO
-- Permite el uso de comillas dobles para identificar nombres de columnas o tablas

-- Modifica (o crea, si ya existe) un procedimiento almacenado para actualizar todos los datos principales de un producto
ALTER PROCEDURE [dbo].[sp_actualizar_producto_completo]
    @id_producto INT,         -- ID del producto a actualizar
    @nombre VARCHAR(100),     -- Nuevo nombre del producto
    @descripcion TEXT,        -- Nueva descripción detallada
    @precio DECIMAL(10,2),    -- Nuevo precio del producto
    @stock INT                -- Nueva cantidad disponible en stock
AS
BEGIN
    -- Actualiza los campos correspondientes en la tabla Productos, solo para el producto con el ID indicado
    UPDATE Productos
    SET 
        nombre = @nombre,              -- Se actualiza el nombre del producto
        descripcion = @descripcion,    -- Se actualiza la descripción
        precio = @precio,              -- Se actualiza el precio
        stock = @stock                 -- Se actualiza el stock
    WHERE id_producto = @id_producto;  -- Condición: solo modificar el producto con ese ID específico
END