USE [MARKEA]  
GO

/****** Objeto: StoredProcedure [dbo].[sp_eliminar_producto] Script Date: 24/6/2025 22:18:33 ******/

SET ANSI_NULLS ON  
GO
-- Aplica la regla ANSI para comparaciones con NULL (por ejemplo, NULL <> NULL devuelve FALSE)

SET QUOTED_IDENTIFIER ON  
GO
-- Permite que los identificadores entre comillas dobles ("campo") se traten como nombres de columnas o tablas

-- Procedimiento almacenado para marcar un producto como inactivo en lugar de eliminarlo físicamente
ALTER PROCEDURE [dbo].[sp_eliminar_producto]
    @id_producto INT  -- Parámetro de entrada: ID del producto que se desea "eliminar"
AS
BEGIN
    -- Actualiza el campo 'esta_activo' del producto, marcándolo como inactivo (valor 0)
    -- Esto implementa una eliminación lógica que preserva los datos históricos
    UPDATE Productos
    SET esta_activo = 0
    WHERE id_producto = @id_producto;  -- Aplica solo al producto que coincide con el ID proporcionado
END