USE [MARKEA]  
GO
/****** Objeto: StoredProcedure [dbo].[sp_iniciar_sesion] Script Date: 24/6/2025 22:21:32 ******/

SET ANSI_NULLS ON  
GO
SET QUOTED_IDENTIFIER ON  
GO
-- Permite que los identificadores entre comillas dobles sean tratados como nombres de objetos

-- Procedimiento para autenticar a un usuario mediante correo y contraseña
ALTER PROCEDURE [dbo].[sp_iniciar_sesion]
    @correo VARCHAR(50),           -- Parámetro de entrada: correo ingresado por el usuario
    @contrasena VARCHAR(100)       -- Parámetro de entrada: contraseña ingresada por el usuario
AS
BEGIN
    SET NOCOUNT ON;  -- Suprime mensajes de conteo de filas, mejora rendimiento

    -- Variables para almacenar temporalmente el ID y nombre del usuario si se encuentra
    DECLARE @id_usuario INT, @nombre VARCHAR(100);

    -- Búsqueda del usuario con correo y contraseña coincidentes
    SELECT  
        @id_usuario = id_usuario,      -- Asigna a variable el ID del usuario encontrado
        @nombre = usuario              -- También recupera el nombre del usuario (dato útil para la respuesta)
    FROM Usuarios
    WHERE correo = @correo AND contrasena = @contrasena;

    -- Validación: si se encontró un usuario válido
    IF @id_usuario IS NOT NULL
    BEGIN
        -- Devuelve mensaje de éxito junto con el ID y el nombre del usuario autenticado
        SELECT 'Autenticación exitosa' AS mensaje, @id_usuario AS id_usuario, @nombre AS nombre;
    END
    ELSE
    BEGIN
        -- Si no se encontró coincidencia, se informa de forma controlada
        SELECT 'Usuario o contraseña incorrectos' AS mensaje;
    END
END;