USE [MARKEA]  
GO  
-- Selecciona la base de datos activa sobre la cual se ejecutará el procedimiento

/****** Objeto: StoredProcedure [dbo].[sp_obtener_compras_por_comprador] Script Date: 24/6/2025 22:24:20 ******/

SET ANSI_NULLS ON  
GO  
-- Establece que las comparaciones con NULL se realicen conforme al estándar ANSI

SET QUOTED_IDENTIFIER ON  
GO  
-- Permite el uso de comillas dobles para delimitar identificadores como nombres de columnas o tablas

-- Crea o modifica el procedimiento para obtener compras realizadas por un comprador específico
ALTER PROCEDURE [dbo].[sp_obtener_compras_por_comprador]
    @id_comprador INT  -- Parámetro de entrada: ID del usuario que realizó las compras
AS
BEGIN
    -- Consulta las 5 compras más recientes realizadas por el comprador indicado
    SELECT TOP 5
        v.id_venta AS Id,                 -- Muestra el identificador de la venta
        p.nombre AS NombreProducto,      -- Muestra el nombre del producto comprado
        dv.precio_unitario AS Precio,    -- Precio del producto al momento de la venta
        v.fecha,                         -- Fecha de la compra
        vendedor.usuario AS NombreVendedor  -- Nombre del vendedor que ofreció el producto
    FROM Ventas v
    JOIN DetalleVenta dv ON v.id_venta = dv.id_venta  -- Une con los detalles de la venta
    JOIN Productos p ON dv.id_producto = p.id_producto  -- Une con la información del producto vendido
    JOIN Usuarios vendedor ON p.id_vendedor = vendedor.id_usuario  -- Une con el usuario que publicó el producto
    WHERE v.id_comprador = @id_comprador  -- Filtra por el comprador indicado
    ORDER BY v.fecha DESC;  -- Ordena las compras de la más reciente a la más antigua
END