USE [MARKEA]  
GO

/****** Objeto: StoredProcedure [dbo].[buscar_producto_por_nombre] Script Date: 24/6/2025 22:07:34 ******/

SET ANSI_NULLS ON  
GO  
-- Establece que las comparaciones con NULL sigan el estándar ANSI (por ejemplo, NULL <> NULL devuelve false)

SET QUOTED_IDENTIFIER ON  
GO  
-- Permite que los identificadores entre comillas dobles sean tratados como nombres de objetos (y no como strings)

-- Se altera o crea el procedimiento almacenado que permite buscar productos por nombre
ALTER PROCEDURE [dbo].[buscar_producto_por_nombre]
    @nombre_producto NVARCHAR(255)  -- Parámetro de entrada: texto que se desea buscar dentro del nombre del producto
AS
BEGIN
    -- Se realiza la consulta con los filtros y campos deseados
    SELECT 
        p.nombre AS producto,        -- Muestra el nombre del producto y lo renombra como 'producto'
        p.precio,                    -- Muestra el precio actual del producto
        p.stock,                     -- Muestra cuántas unidades hay disponibles
        c.nombre AS categoria        -- Muestra el nombre de la categoría a la que pertenece
    FROM Productos p
    JOIN Categorias c ON p.id_categoria = c.id_categoria  -- Une la tabla Categorías para obtener el nombre de categoría del producto
    WHERE p.nombre LIKE '%' + @nombre_producto + '%'  -- Búsqueda parcial que permite encontrar coincidencias en cualquier parte del nombre
      AND p.stock > 0;  -- Solo se muestran los productos que tienen stock disponible
END;