USE [MARKEA]  
GO

/****** Objeto: StoredProcedure [dbo].[sp_realizar_venta] Script Date: 24/6/2025 22:37:08 ******/

SET ANSI_NULLS ON  
GO
-- Configura el comportamiento ANSI para comparaciones con NULL

SET QUOTED_IDENTIFIER ON  
GO
-- Permite el uso de comillas dobles para delimitar nombres de objetos

-- Procedimiento que registra una nueva venta y actualiza el stock según los productos comprados
ALTER PROCEDURE [dbo].[sp_realizar_venta]
    @id_comprador INT,     -- ID del comprador que realiza la compra
    @productos XML         -- Lista de productos en formato XML (con cantidad y precio)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;  -- Inicia la transacción para asegurar consistencia en múltiples operaciones

        DECLARE @id_venta INT;
        DECLARE @id_vendedor INT;

        -- Obtener el ID del vendedor del primer producto en la lista XML
        SELECT @id_vendedor = id_vendedor 
        FROM Productos 
        WHERE id_producto = @productos.value('(/productos/producto)[1]/id_producto[1]', 'INT');

        -- Insertar un nuevo registro de venta con el comprador y el vendedor
        INSERT INTO Ventas(id_comprador, id_vendedor) 
        VALUES(@id_comprador, @id_vendedor);

        -- Obtener el ID generado automáticamente para la nueva venta
        SET @id_venta = SCOPE_IDENTITY();

        -- Declarar variables para recorrer los productos
        DECLARE @id_producto INT, @cantidad INT, @precio DECIMAL(10,2);

        -- Declarar un cursor para iterar sobre los productos incluidos en el XML
        DECLARE productos_cursor CURSOR FOR
        SELECT
            Producto.value('(id_producto)[1]', 'INT'),
            Producto.value('(cantidad)[1]', 'INT'),
            Producto.value('(precio)[1]', 'DECIMAL(10,2)')
        FROM @productos.nodes('/productos/producto') AS X(Producto);

        -- Abrir el cursor
        OPEN productos_cursor;

        -- Obtener el primer producto
        FETCH NEXT FROM productos_cursor INTO @id_producto, @cantidad, @precio;

        -- Repetir mientras haya productos
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Verificar si hay suficiente stock del producto
            IF EXISTS (
                SELECT 1 
                FROM Productos 
                WHERE id_producto = @id_producto AND stock >= @cantidad
            )
            BEGIN
                -- Insertar detalle de la venta
                INSERT INTO DetalleVenta(id_venta, id_producto, cantidad, precio_unitario)
                VALUES (@id_venta, @id_producto, @cantidad, @precio);

                -- Actualizar el stock del producto
                UPDATE Productos 
                SET stock = stock - @cantidad 
                WHERE id_producto = @id_producto;
            END
            ELSE
            BEGIN
                -- Si no hay stock suficiente, lanzar error
                RAISERROR('Stock insuficiente para el producto.', 16, 1);

                -- Revertir toda la transacción
                ROLLBACK;
                RETURN;
            END

            -- Obtener el siguiente producto
            FETCH NEXT FROM productos_cursor INTO @id_producto, @cantidad, @precio;
        END

        -- Cerrar el cursor
        CLOSE productos_cursor;
        DEALLOCATE productos_cursor;

        -- Confirmar la transacción si todo fue exitoso
        COMMIT;
    END TRY
    BEGIN CATCH
        -- Si ocurre un error, revertir la transacción
        IF @@TRANCOUNT > 0 ROLLBACK;

        -- Relanzar el error para que lo capture el sistema
        THROW;
    END CATCH
END;