USE [MARKEA]  
GO

/****** Objeto: StoredProcedure [dbo].[sp_obtener_productos_por_vendedor] Script Date: 24/6/2025 22:32:03 ******/

SET ANSI_NULLS ON  
GO
-- Activa el comportamiento ANSI para comparaciones con NULL (por ejemplo, NULL <> NULL retorna FALSE)

SET QUOTED_IDENTIFIER ON  
GO
-- Permite usar comillas dobles para delimitar identificadores como nombres de columnas

-- Procedimiento almacenado que retorna los productos activos registrados por un vendedor específico
ALTER PROCEDURE [dbo].[sp_obtener_productos_por_vendedor]
    @id_vendedor INT  -- Parámetro de entrada: identificador del vendedor cuyos productos se desean consultar
AS
BEGIN
    SELECT 
        id_producto AS Id,              -- ID único del producto
        nombre,                         -- Nombre del producto
        descripcion,                    -- Descripción detallada del producto
        precio,                         -- Precio actual del producto
        stock,                          -- Unidades disponibles
        CASE 
            WHEN stock > 0 THEN 'Activo'   -- Si hay stock disponible, se marca como 'Activo'
            ELSE 'Vendido'                -- Si el stock es 0, se indica como 'Vendido'
        END AS Estado
    FROM Productos
    WHERE 
        id_vendedor = @id_vendedor     -- Filtra los productos creados por el vendedor indicado
        AND esta_activo = 1            -- Solo devuelve productos marcados como activos (no eliminados lógicamente)
    ORDER BY id_producto DESC;         -- Ordena los resultados por ID de producto de forma descendente (más recientes primero)
END